Data Visualization and Notebook support: 
Jupyter Notebook (ipynb)


Machine Learning Modeling libraries:

scikit-learn for SVM, KNN, Random Forest, train_test_split, metrics, and PCA
scikit-image to visualize Histogram of Oriented Gradients (HOG) feature extraction


Image Processing and Computer Vision:

opencv-python For image reading, resizing, and grayscale conversion (cv2)
Pillow for basic image operations (PIL)
