* Core numerical and data manipulation libraries
numpy
pandas 

* Machine Learning Modeling libraries
scikit-learn For SVM, KNN, Random Forest, train_test_split, metrics, and PCA
scikit-image to visualize Histogram of Oriented Gradients (HOG) feature extraction

Image Processing and Computer Vision:
opencv-python For image reading, resizing, and grayscale conversion (cv2)
Pillow For basic image operations (PIL)

Data Visualization and Notebook support:
jupyter (ipynb)
